flows/NGCC_Lead_Quick_Create.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Open_Lead_Record</name>
        <label>Open Lead Record</label>
        <locationX>938</locationX>
        <locationY>179</locationY>
        <actionName>c:OpenSObject</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Company</name>
        <label>Assign Company</label>
        <locationX>669</locationX>
        <locationY>236</locationY>
        <assignmentItems>
            <assignToReference>CompanyVal</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please Update</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Company_Val</name>
        <label>Assign Company</label>
        <locationX>666</locationX>
        <locationY>122</locationY>
        <assignmentItems>
            <assignToReference>CompanyVal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Company</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Last_Name</name>
        <label>Assign Last Name</label>
        <locationX>379</locationX>
        <locationY>119</locationY>
        <assignmentItems>
            <assignToReference>LastNameVal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Company</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_LastName</name>
        <label>Assign LastName</label>
        <locationX>383</locationX>
        <locationY>240</locationY>
        <assignmentItems>
            <assignToReference>LastNameVal</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please Update</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Company</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>NoneChoice</name>
        <choiceText>--None--</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Company</name>
        <label>Check Company</label>
        <locationX>504</locationX>
        <locationY>181</locationY>
        <defaultConnector>
            <targetReference>Assign_Company_Val</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Company_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Company</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Company</targetReference>
            </connector>
            <label>If Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Lastname</name>
        <label>Check Lastname</label>
        <locationX>209</locationX>
        <locationY>180</locationY>
        <defaultConnector>
            <targetReference>Assign_Last_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Last_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_LastName</targetReference>
            </connector>
            <label>If Empty</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CountryPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CustomCountry__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Lead_Prospect_Recordtype_Id</name>
        <dataType>String</dataType>
        <expression>{!$Setup.ObjectRecordTypeIds__c.Marketing_Lead_RecordType__c}</expression>
    </formulas>
    <interviewLabel>NGCC Lead Quick Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quick Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>800</locationX>
        <locationY>178</locationY>
        <assignRecordIdToReference>LeadId</assignRecordIdToReference>
        <connector>
            <targetReference>Open_Lead_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Lead_Creation_Failed</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>CompanyVal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomCountry__c</field>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastNameVal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Lead_Prospect_Recordtype_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Lead_Status</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <screens>
        <name>Lead_Creation_Failed</name>
        <label>Lead Creation Failed</label>
        <locationX>809</locationX>
        <locationY>336</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FaultMessage</name>
            <fieldText>An Error occurred while creating the Lead.

Please go to Lead Tab and click on New button to create the Lead record.

Please give below error to system admin

 {!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lead_Details</name>
        <label>Lead Details</label>
        <locationX>51</locationX>
        <locationY>178</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Lastname</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Please Update</stringValue>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Please enter a valid Email</errorMessage>
                <formulaExpression>REGEX({!Email},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Phone_Field</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^[0-9()\-+# ]*$</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Phone</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Phone</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Company</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Please Update</stringValue>
            </defaultValue>
            <fieldText>Company</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Country_Field</name>
            <extensionName>c:NGCC_Custom_Picklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>PicklistAPIName</name>
                <value>
                    <stringValue>Customcountry__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>PicklistLabel</name>
                <value>
                    <stringValue>Country</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultval</name>
                <value>
                    <elementReference>Def_Country</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>SelectedPicklistValue</name>
                <value>
                    <elementReference>Country</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Country</assignToReference>
                <name>defaultval</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Country</assignToReference>
                <name>SelectedPicklistValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PopOutDisable</name>
            <extensionName>c:NGCC_Flow_PopOut_Disable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SaveFooter</name>
            <extensionName>c:NGCC_Lead_Quick_Create_Flow_Footer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>ButtonLabel</name>
                <value>
                    <stringValue>Save</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>1076</locationX>
        <locationY>179</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessScreenFooter</name>
            <extensionName>c:NGCC_Lead_Quick_Create_Flow_Footer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>ButtonLabel</name>
                <value>
                    <stringValue>Close</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ShoeSuccessMsg</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Message</name>
                <value>
                    <elementReference>LeadSuccessMessage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Lead_Details</startElementReference>
    <status>Active</status>
    <variables>
        <name>CompanyVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Def_Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastNameVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>New Prospect</stringValue>
        </value>
    </variables>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadSuccessMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Lead successfully created</stringValue>
        </value>
    </variables>
    <variables>
        <name>Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
